@media screen and (max-width:1432px){
    .header-content .right-header{
        padding-right: 8rem;
    }

    .contact-content-con{
        flex-direction: column;
        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
        }
        
    }

    .main-title{
        h2{
            .bg-text{
                font-size: 5.5rem;
            }
        }
    }
}

@media screen and (max-width:1250px){
    .section{
        padding: 4rem 8rem;
    }

    .header-content .right-header{
        padding-right: 0.5rem;
    }

    .portfolios{
        grid-template-columns: repeat(2, 1fr);
    }

    .timeline-sections {
        max-width: 95%;
        
        .left{
            padding-left: 0;
        }

        .right{
            padding-right: 0;
        }
    }
}

@media screen and (max-width:1070px){
    .about-container{
        grid-template-columns: repeat(1, 1fr);
        .right-about{
            padding-top: 2.5rem;
        }
    }
    .main-title{
        h2{
            font-size: 4rem;
            span{
                font-size: 4rem;
            }
            .bg-text{
                font-size: 4.5rem;
            }
        }
    }


}

@media screen and (max-width:970px){
    .section{
        padding: 1rem 6rem;
    }

    .about-container .left-about{
        padding-right: 0rem;
    }
    .header-content{
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
    }

    .left-header{
        .h-shape{
            display: none;
        }
        .image{
            margin: 0 auto !important;
        }
    }
    .right-header{
        grid-row: 1;
        padding-right: 0rem !important;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 2.5rem !important;
            text-align: center;
            padding-top: 3rem;
        }
    }

    .btn-con{
        align-self: center;
        .btn-icon{
            padding: 0.5rem;
        }
    }
}

//reformat timeline
@media screen and (max-width:900px){
    .timeline-sections{
        padding-bottom: 6rem;
        .timeline{
            
            //the vertical line
            &::after {
                content: '';
                position: absolute;
                width: 6px;
                background-color: var(--color-grey-1);
                top: 0;
                bottom: 0;
                left: 0 !important;
                margin-left: -3px;
            }
            //the container
            .timeline-con {
                padding: 10px 0 10px 40px;
                position: relative;
                background-color: inherit;
                width: 100%;
            
                /* The circles on the timeline */
                &::after {
                    content: '';
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    left: -17px;
                    background-color: var(--color-grey-1);
                    border: 4px solid var(--color-secondary);
                    top: 15px;
                    border-radius: 50%;
                    z-index: 1;
                }
            }
    
            /* Place the container and the arrows */
            .left, .right {
                left: 0;
                
                /* Add arrows to the left container (pointing right) */
                &::before {
                    content: "";
                    position: absolute;
                    height: 30px;
                    width: 20px;
                    z-index: 1;
                    top: 17px;
                    left: 27px;
                    background-color: var(--color-grey-5);
                    clip-path: polygon(0 50%, 100% 0, 100% 100%);
                }
            }
        }
    }
}

@media screen and (max-width:700px){
    .section{
        padding: 1rem 3rem;
    }

    .about-container .right-about{
        grid-template-columns: repeat(1, 1fr);
    }

    .portfolios{
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
        margin-top: 1rem;
    }

    .main-title{
        h2{
            font-size: 3rem;
            span{
                font-size: 3rem;
            }
            .bg-text{
                font-size: 4rem;
            }
        }
    }

    .header-content{
        grid-template-rows: unset;
    }
}

@media screen and (max-width:600px) {

    .theme-btn{
        width: 50px;
        height: 50px;
        top: 3%;
        opacity: 80%;
    }

    .section{
        padding: 1rem 2.5rem;
    }
    //go up from side
    .active {
        display: block;
        transform: translateX(0) scaleX(1);
        animation: appear 2s ease-in-out;
        @keyframes appear {
            0%{ transform: translateX(100em) scaleX(1); }
            100%{ transform: translateX(0) scaleX(1); }
        }
    }

    .hide{
        animation: hidden 1s ease-in-out;
        @keyframes hidden {
            0%{ transform: translateX(0) scaleX(1); }
            100%{ transform: translateX(-100%) scaleX(1); }
        }
    }

    body{
        font-size: 1rem;
    }

    header {
        padding: 0;

        .header-content{
            grid-template-columns: repeat(1, 1fr);
            padding-bottom: 4.5rem;
                    
            .left-header{
                align-items: unset;

                .h-shape{
                    display: none;
                }

                .image{
                    margin: 0 auto;
                    width: 90%;
                }
            }

            .right-header{
                grid-row: 1;
                padding-right: 0rem !important;
                padding-bottom: 0.2rem;
                width: 90%;
                margin: 0 auto;
                height: fit-content;
                .name{
                    font-size: 2.5rem !important;
                    text-align: center;
                    padding-top: 0.5rem;
                }
                p{
                    margin: 0.7rem 0;
                    line-height: 1.2rem;
                }
            }
        }
    }

    .about-container{
        grid-template-columns: repeat(1, 1fr);
        padding-top: 1.5rem;
        .right-about{
            grid-template-columns: repeat(1, 1fr);
            padding-top: 2.5rem;
        }
        .left-about{
            padding-right: 0;
            h4{
                font-size: 1.4rem;
            }
            p{
                padding: 1rem 0;
                line-height: 1.3rem;
            }
        }
    }
    .about-stats{
        padding-bottom: 5rem;
        .stat-title{
            padding: 0;
            padding-bottom: 3.5rem;
        }
    }

    .timeline-item{
        padding: 10px 16px;
    }

    .port-text{
        padding: 0;
        padding-top: 1rem;
    }
    .portfolios{
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
        margin-top: 1rem;
    }

    .contact-content-con{
        flex-direction: column;
        padding-top: 1rem;

        .contact-item{
            flex-direction: column;
            margin: 1rem 0;
            p{
                font-size: 15px;
                color: var(--color-grey-2);
            }
            span{
                font-size: 15px;
            }
            .icon{
                grid-template-columns: 25px 1fr;
            }
        }
    }

    .main-title{
        h2{
            font-size: 2.3rem;
            span{
                font-size: 2.3rem;
            }
        }
    }

    .btn-con{
        align-self: center;
        .btn-icon{
            padding: 0.5rem;
        }
    }

    .controls {
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);

        .control{
            margin: 1rem .3rem;
        }
    }
}
